<html>
<head>

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/test1.css') }}">

</head>
<body>

<h1>My First CSS Example </h1>
<p>This is a paragraph. sup</p>

<h2>My First JavaScript</h2>

<button type="button"
onclick="document.getElementById('demo').innerHTML = Date()">
Click me to display Date and Time.</button>

<p id="demo"></p>

</body>
</html>
